#header
{
	position: fixed;
	color: white;
	width: 100%;
	height: 60px;
	background: black;
}

h1
{
	font-size: 24px;
	color:green;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

#td1Style
{
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	vertical-align: top;
	text-align: center;
	line-height: 50px;
	width: 100px;
}

#td2Style
{
	border-bottom: 2px solid black;
	vertical-align: top;
	line-height: 50px;
}

.red
{
	font-weight: bold;
	color:red;
}

.green
{
	font-weight: bold;
	color:green;
}

.blue
{
	font-weight: bold;
	color:blue;
}

.yellow
{
	font-weight: bold;
	color:yellow;
}

.black
{
	font-weight: bold;
	color:black;
}

.purple
{
	font-weight: bold;
	color:purple;
}

#usernameBox
{
	border-bottom:2px solid black;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
}